<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Informações sobre os participantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="infoparty">
  <div class='content'>

<h1>UNIVERSIDADE VIRTUAL DO ESTADO DE SÃO PAULO</h1>
Caio Sidnei G. Costa, RA: 1714338 <br>

Cristiano Aparecido, RA: 1715497 <br>

Danilo Rocha Novaes, RA: 1702206 <br>

Edgar Alberto, RA: 1707636 <br>

Fernando Rafael da S. O, RA: 1710559 <br>

Ricardo dos Reis Ferreira, RA: 1706371 <br>

Tutor: Anderson Roberto Deizepe <br>
</div>
</div>

  <ion-button [routerLink]="['/home']">Voltar</ion-button><br><br>
</ion-content>
