<ion-header [translucent]="true" color=primary>
  <ion-toolbar color=primary>
    <ion-title>
      CDC – Controle de Doações Comunitária
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CDC – Controle de Doações Comunitária</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      
    <div class="botoes">

      
      <form action=" " method="post">
      <input type="procurar" input type="number" class="procurar" name="q" placeholder="Informe o CPF" required="required">
      
      <button type="submit" class="procurar" [routerLink]="['/buscar']">Buscar</button>
    </form>
      <button [routerLink]="['/cadastrar']" routerdirection="forward" class="btn2 two">CADASTRAR</button>
      <button [routerLink]="['/informacao']" routerdirection="forward" class="btn3 three">INFORMAÇÕES</button>
     
      

    </div>
    
  </div>
</ion-content>
